/*
:root {
    --header-background-color: #1b1e1f;
    --header-text-font: #f4f4f4;
    --description-background-color: #2b2b2b; 
    --more-color:#4eabed;
    --card-container-background-color:#161616;
    --partners-section-background-color:#2b2b2b;
    --terms-and-conditions-color:#dbdbdb;
    --font_0: normal normal normal 24px/1.6em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,wf_dd28b3957391427eb54de1c9e,orig_tbc_x_regular;
    --card_border-color:#555555;
    --font_11: normal normal normal 48px/1.6em wfont_643d94_f52303b2efea42e1b4aeed119e42672e,wf_f52303b2efea42e1b4aeed119,orig_tbc_x_black;
   --border_color:#343131;
   --button_background_color:#d5d5d5;
    --footer_color:#1b1e1f;


}


*{
    background-color: blanchedalmond;
}
    */


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

      }
      
      main {
        margin: 0 5rem;
      }
ul,
ol {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/*  */

/* ყველაფერი შენი სახლისთვის */

.fullyBox {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
  }
  .lastCard {
    display: flex;
    justify-content: space-between;
  }
  .card2Section {
    background-color: var(--card-container-background-color);
    height: auto;
    /* width: 100%; */
    /* width: 1240px; */
    /* padding: 0 8%; */
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  #cards2-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }
  
  .card2 {
    /* width: 200px; */
    /* height: 414px; */
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 263px;
    height: 395px;
    border-radius: 8px;
    border: 1.5px solid #EFEFEF;
    display: block;
    position: relative;
    
  }
  
  .cardIMg{
    width: 255px;
  }
  #arrowOne {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 12px;
  }
  .arrowW{
    display: inline-block;
    position: absolute;
    top: 161px;
    left: 12px;
  }
  .textFully {
    text-decoration: underline;
  }
  
  .titleDesk{
    color: #717D96;
    padding: 0 0 22px 12px;
  }
  
  .priceText {
    font-weight: bold;
    padding: 0 0 12px 12px;
  }
  .cartButton{
    background-color: #008BFF;
    border-radius: 5px;
    border: 2px solid #008BFF;
    padding: 10px 35px;
    color: white;
    margin: 12px 0 12px 12px ;
    width: 90%;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
  }
  .allHomeName{
    padding: 35px 0 15px 12px;
  }
  .allHomeStartPr{
    font-size: 13px;
    color: #616161;
    text-decoration: line-through;
  }
  .allHomeDisc{
    color: white;
    border-radius: 30px;
    padding: 6px;
    background:#FF3333;
  }
  .mobButton{
    display: none;
  }

  /* საზაფხულო წვეულება */
  
  .partyOffers {
    position: relative;
  
  }
  .partyOffers .mainImg {
    opacity: 70%;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.partyOffers .mainImgMobile{
    display: none;
}
  .partyOffersText {
    position: absolute;
    width: 400px;
    left: 82px;
    top: 72px;}
  .partyOffersText p {
    padding: 50px 0;
    font-weight: bold;
  }
  .partyOffersText button {
    display: flex;
    background-color: white;
    border-radius: 4px;
    border: 2px solid white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 16px;}
  
  .line{
    border: 1px solid #CBD2E0;
    margin: 40px 0 15px;}
  
    /* footer */
  
  footer .landingfooter{
    display: flex;
    justify-content: space-between;
    padding: 25px 5rem;
  }
  footer li {
    padding: 8px 0;
  }
  .landingfooter li:first-child {
    font-weight: bold;
  
  }
  .footerIconMob{
    display: none;
  }
  .lineMobile{
    display: none;
  }
  .mobileContainer{
    display: none;
  }
  .accordion{
    display: none;
  }
  
  
  /* responsive */
  
  
  
  @media (max-width: 780px) {
    main {
      margin:0 1.5rem;
      box-sizing: border-box;
      overflow: hidden;
    }
  
    .card2Section{
      
      flex-direction: column;
      display: flex;
      overflow-x: scroll; /* Allows horizontal scrolling */
      scroll-snap-type: x mandatory; /* Optional for snapping effect */
      -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
      /* width: 100%; */
      scrollbar-width: none; /* For Firefox */
      -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }

    #cards2-container {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-wrap: nowrap;
      /* Ensure cards stay in one line */
      overflow-x: auto;
      /* Enable horizontal scrolling */
      overflow-y: hidden;
      /* Disable vertical scrolling */
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      /* Hide scrollbar for Firefox */
    }
    .card2 {
      width: 160px;
      /* height: 279px; */
      height: auto;
      margin-right: 12px;
    }
    
    .cardIMg{
      width: 160px;
      /* height: 139.5px; */
    }
    .allHomeName{
      font-size: 12px;
      line-height: 14px;
      height: 30px;
      color: #2D3648;
    }
    .card2WrapperTitle{
      font-size: 13px;
    }
    .textFully{
      font-size: 12px;
      color: #606060;
      font-weight: bold;
    }
    .fullyBox img{
      display: none;
    }
    .priceText{
      font-size: 12px;
      color: #2D3648;
    }
    .allHomeStartPr{
      font-size: 9.5px;
    }
    .allHomeDisc {
      font-size: 8.5px;
      color: white;
      border-radius: 15px;
      padding: 4px 2px;
      background: #FF3333;
    }
    .titleDesk{
      font-size: 10px;
      height: 35px;
      padding-top: 20px;

    }
    .arrowOne{
      height: 24px;
      width: 24px;
    }
    .arrowW{
      position: absolute;
      top: 115px;
      width: 2rem;
    }
    .cartButton{
      display: none;
    }
    .mobButton{
      display: inline;
      width: 82%;
      font-size: 12px;
      height: 32px; 
      background-color: #008BFF;
      border-radius: 5px;
      border: 2px solid #008BFF;
      /* padding: 10px 35px; */
      color: white;
      margin: 12px 0 12px 12px ;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      }

    /* საზაფხულო წვეულება */
    .partyOffers .mainImg {
      display: none;
    }
    .partyOffers .mainImgMobile{
      display: inline;
      opacity: 80%;
      width: 100%;
    }
    .partyOffersText {
      width: 250px;
      left: 24px;
      top: 30px;
    }
    .partyOffersText h3{
      font-size: 12px;
    }
    .partyOffersText p {
      padding: 32px 0;
      font-weight: bold;
      font-size: 10px;
      }
    .partyOffersText button {
      height: 32px;
      font-size: 10px;
      margin-top: 12px;
      align-items: center;    
    }
    .arrow3{
      width: 20px;
    }
    .line{
      margin: 10px 1.5rem 3px;
      border-top: 1px solid #CBD2E0;

    }
    /* footer */
    footer{
      padding:0 1.5rem;
      flex-direction: column;
    }
    footer .landingfooter{
      display: none;
    }
    .accordion{
      display: inline;
    }
    .accordion-title{
      display: inline;
      font-size: 14px;
      line-height: 13.8px;
      color: #000000;
    }
    .accordion-content{
      display: none;
      margin: 10px 0;
    }
    .accordion-content a{
      font-size: 13px;
      line-height: 13.8px;
      color: #535353;
    }
    .accordion-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px 0;
    }
    .lineMobile{
      display: block;
      border-top: 1px solid #CBD2E0;
    }
    .footerIconMob{
      display: inline;
    }
    footer .mobileIcon{
      display: inline;
      margin-top: 8px;
    }  
    .mobileContainer{
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }